.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__input {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: inherit;
    //if not give inherit then it will pick default color black provide by user-agent css for input element
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    //this removes the cls or change in size of input box when border bottom is appled on input:focus
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;

    @include respond(tab-port){
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    //based on input type given to html input element like email if content wriiten on focus is invalid then below css is applied automatically
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    //below is pseudo element which actually appears on the html dom
    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }
  &__label {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  //label has to be after input for sibling selector to work
  //below css applied when nothing entered in input
  &__input:placeholder-shown + &__label {
    //we need opacity propert to animate as visibility property can't be animated
    opacity: 0; //will only make element invisible but it is still on the page so we need below visibility property
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block; //to make radios appear side by side

    @include respond(tab-port){
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  &__radio-input {
    display: none;
  }
  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }
  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;
    &::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
  //below style applies when radio button is checked then it targets all label sibling of radio input and go after radio-button after pseudo selector to show that circle inside it when label is checked
  &__radio-input:checked ~ &__radio-label &__radio-button:after {
    opacity: 1;
  }
}
